@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
a{ color:#333; text-decoration:none;outline:none;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
html{ font-size:12px;font-family:"微软雅黑"; color:#000;}
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-size:14px;}
ul, li, dl, dd, dt, p {margin:0px; padding:0px;}
ul ,li {list-style-type:none;}
em, i{font-style:normal;}
img{border:none;}
.clear{ height:0; overflow:hidden; clear:both; width:100%;}
body{font-size:12px; font-family:"微软雅黑"; /*background:#f7f7f6 url("body.jpg.html") repeat;*/}
.dis{display:none;}
.img_mg{float:right !important; margin-right:0 !important;}
.no_bod{border-bottom:none !important;}
.ma_le{ margin-left:0 !important;}
 

/*全局样式*/
.bar{ width:100%; float:left; background:url("../img/img4.jpg")/*tpa=img/img4.jpg*/ no-repeat center; height:400px;}
.a_auto{ width:1150px; margin:0 auto;}
.bar_1{ text-align:center; margin-top:18px;}
.bar_2{ text-align:center; margin-top:10px;}
.bar_3{ text-align:center; margin-top:30px;}
.main{ width:100%; float:left; background:#fff;}
.ayt{ width:100%; float:left; background:#f7f7f7; padding-bottom:40px;}
.main_1{ width:1273px; height:204px; float:left; margin:-45px 0 0 -61.5px; background:url("../img/img10.png")/*tpa=img/img10.png*/ no-repeat;}
.bf_a{ width:300px; float:left; margin:54px 0 0 90px;}
.bf_a img{ width:51px; height:58px; float:left;}
.bf_a p{ width:227px; float:left; margin-left:10px; font-size:20px;}
.bf_a p span{ display:block; color:#fff;}
.bf_a p span i{ color:#fff000;}
.bf_a p em i{ color:#fff000;}
.bf_a p em{ color:#fff; display:block; margin-top:5px;}
.bf_b{ width:230px; float:left; margin:38px 0 0 121px;}
.bf_c{ width:272px; float:left; margin:25px 0 0 150px;}

.bf_b h3{ border-bottom:2px solid #2f2f2f; padding-bottom:7px;}
.bf_b h3 img{ margin:0 5px;}
.bf_b p{ font-size:18px; margin-top:5px;}
.bf_c img{ width:261px; height:80px; float:left;}
.bf_c p{ width:148px; margin-left:20px; font-size:18px; color:#fff; line-height:97px; float:left;}

.main_2{ width:1000px; float:left; margin:20px 0 0 75px;}
.main_2 a{ float:left; width:320px; height:154px; position:relative; margin-left:20px;}
.aa1{ background:url("../img/img11.jpg")/*tpa=img/img11.jpg*/ no-repeat;}
.aa2{ background:url("../img/img12.jpg")/*tpa=img/img12.jpg*/ no-repeat;}
.aa3{ background:url("../img/img13.jpg")/*tpa=img/img13.jpg*/ no-repeat;}
.main_2 a em{ position:absolute; left:10px; bottom:10px; width:300px; height:40px; background:#3d3d3d;}
.main_2 a span{position:absolute; left:10px; bottom:10px; width:300px; height:40px; text-align:center; line-height:40px; color:#fff; font-size:18px;}
.main_2 a span img{ margin:0 12px -5px 0;}

.main_3{ width:1000px; float:left; height:272px; background:url("../img/img17.jpg")/*tpa=img/img17.jpg*/ no-repeat; margin:41px 75px 0 75px;}
.main_3 h3{ font-size:24px; color:#4e412a; font-weight:normal; text-align:center; margin:40px 0 0 0; padding:0 0 0 40px;}
.main_3 p{ font-size:16px; color:#4e412a; padding:30px 70px; line-height:170%;}
.main_3 p span{ color:#a24500;}

.main_4{ width:679px; float:left; margin:40px 0 0 217px;}
.main_4 h3{ width:100%; float:left; height:29px; background:url("../img/img18.jpg")/*tpa=img/img18.jpg*/ no-repeat; font-size:18px; color:#ffeb9d; font-weight:normal; text-align:center; line-height:29px;}
.main_4 p{ font-size:16px; color:#4e412a; text-align:center; width:100%; float:left; margin:10px 0;}
.main_5{ width:901px; float:left; margin:10px 0 0 124px;}
.main_5 a{ float:left; width:121px; height:110px; margin:0 0 14px 9px; position:relative;}
.main_5 a span{ width:100%; height:30px; position:absolute; left:0; bottom:0; background:#4e412a; border-radius:0 0 3px 3px;}
.main_5 a em{ width:100%; height:30px; position:absolute; left:0; bottom:0; text-align:center; line-height:30px; color:#fff; font-size:18px;}
.main_5 a i{ width:100%; text-align:center; position:absolute; left:0; top:15px; color:#fff; font-size:18px;}
.main_6{ width:901px; float:left; margin:15px 0 0 124px;}
.main_6 p{ font-size:16px; color:#4e412a; height:33px;}
.main_6 p img{ margin:0 10px -10px 0;}
.main_6 h3{ border-top:1px dashed #4e412a; color:#4e412a; line-height:40px; margin:20px 0 0 0; font-size:16px; font-weight:normal;}
.main_6 h3 span{ color:#a24500;}

.foot{ width:100%; float:left; height:131px; background:#1e1e1e;}
.foot_1{ width:100%;1float:left;}
.foot_1 img{ width:218px; height:84px; float:left; margin:40px 0 0 215px;}
.foot_1 p{ width:505px; float:left; margin:45px 0 0 0; text-align:center;}
.foot_1 p span{ font-size:20px; color:#ffff9f; display:block;}
.foot_1 p em{ font-size:16px; color:#9d9d9d; display:block;}
































































