.photox a:link {
	color: #432121;
	text-decoration: none;
	font-size: 12px;
}

.photox a:visited {
	text-decoration: none;
	color: #000000;
}

.photox a:hover {
	color: #666666;
}

.photox a:active {
    color: #666666;
	text-decoration: none;
}

.photox {
	visibility:visible;
	margin:0px;
	padding:0px;
	position: relative;
	text-align:center;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 12px;
	overflow: hidden;
	height:100%;
}

.blkphotox {
	border:0px; 
	padding:0px; 
	overflow: hidden;
	ZOOM: 1; 
	position: relative;
}

.blkphotox .LeftButton {
	background: url("../images/arrow.gif") no-repeat 0px 0px;
	left:4px;
	float:left;
	width:16px;
	cursor: pointer;
	position: absolute;
	height:39px;
	top:53px;
}

.blkphotox .RightButton {
	background: url("../images/arrow.gif") no-repeat -16px 0px;
	right:4px;
	float:right;
	width:16px;
	cursor: pointer;
	position: absolute;
	height:39px;
	top:53px;
}

.blkphotox .Cont {
	padding:20px 0px 0px;
	margin:0px;
	text-align:center;
}

.blkphotox .box {
	float:left;
	text-align:center;
	margin:0px;
}

.box .fang{
	padding:0px;
	margin:0px 3px 0px 0px;
	text-align:center;
	border:2px #807c67 solid;
}

.box .picFit{
	overflow: hidden;
}

.blkphotox .box a:hover img {
	
}